<% provide(:title, 'Reset password') %>
<br><br><br>
<div class="custom-form-class">
  <div class="wrapper">
    <%= form_for( @user, url: password_reset_path(params[:id]) , :html => {:class => 'login'}) do |f| %>

        <p class="title">Reset Password</p>

        <%= render 'shared/error_messages', object: f.object %>

        <%= hidden_field_tag :email, @user.email %>

        <%= f.password_field :password, placeholder: 'Password'%>

        <i class="fa fa-key"></i>

        <%= f.password_field :password_confirmation, placeholder: 'Conform Password' %>
        <i class="fa fa-key"></i>


        <button>

          <i class="spinner"></i>

          <span class="state">Update Password</span>

        </button>

    <% end %>
  </div>
</div>