 <div class="custom-form-class">
      <div class="wrapper">
        <%= form_for( @user , :html => {:class => 'login'}) do |f| %>

            <%= render 'shared/error_messages', object: f.object %>

            <p class="title"><%= yield(:title)%></p>

            <%= f.text_field :name, placeholder: 'Name' %>
            <i class="fa"></i>

            <%= f.email_field :email, placeholder: 'Username'%>

            <i class="fa fa-user"></i>

            <%= f.password_field :password, placeholder: 'Password'%>

            <i class="fa fa-key"></i>

            <%= f.password_field :password_confirmation, placeholder: 'Conform Password' %>
            <i class="fa fa-key"></i>


            <button>

              <i class="spinner"></i>

              <span class="state"><%= yield(:button_text)%></span>

            </button>
        <% end %>
      </div>
    </div>