<% provide(:title, @user.name) %>
<div id="wrap" class="container1">
<div class="row mdl-card">
  <div class="col-md-4">
    <div class="mdl-shadow--2dp mdl-card--horizontal">
      <div class="mdl-card__media">
        <%=
          if current_user?(@user)
            render 'shared/profilepic'
          else
            gravatar_for @user
          end
        %>
      </div>
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text"><%= @user.name %></h1>
      </div>
      <div class="mdl-card__supporting-text stats">
        <%= render 'shared/stats' %>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= render 'follow_form' if logged_in? %>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <% if @user.microposts.any? %>
        <ol class="microposts">
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
</div>
